div{ 
    border: 2px solid black;
border-radius: 25px;
margin: 20px 15px;
padding:10px 15px 25px 30px;

width: 100%;
max-width: 400px;
float: left;
height: auto;
background-color: rgb(230, 173, 227, 0.793);

}